$black: #333;
$light: #f8f7f6;
$cyan: #2c9fa2;
$red: #f03812;
$yellow: #fe8826;

$content-max-width: 800px;
$content-width: calc(100vw - 80px);
$section-vertical-margin: 50px;

$wires-ratio: 0.3226;
$tv-ratio: 0.5457;

$banner-height: 24px;
$banner-bg-color: $cyan;
$banner-hover-bg-color: #26888b;
$banner-color: white;

$navbar-height: 80px;
$navbar-height-mobile: 60px;
$hamburger-menu-width: 180px;

$red-gradient: linear-gradient(181deg, $red 60%, $cyan 200%);
