@import './constants';

.about {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: $section-vertical-margin 0;
  width: 100vw;

  .box {
    align-items: center;
    background: $light;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: $content-max-width;
    padding: 40px;
    text-align: center;
    width: $content-width;

    h2 {
      background: $red-gradient;
      background-clip: text;
      font-style: italic;
      margin-bottom: 20px;
      margin-right: -8px;
      max-width: 350px;
      padding: 0 8px 0 0;
      -webkit-text-fill-color: transparent;
    }

    p {
      max-width: 520px;
    }
  }
}
