@import './constants';

.faq {
  display: flex;

  .left {
    max-width: 400px;

    a {
      color: $cyan;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .right {
    box-sizing: border-box;
    padding-left: 5vw;
    width: 100%;

    .item {
      border-bottom: 2px solid #f2f2f2;
      box-sizing: border-box;
      padding: 10px 30px 10px 0;
      white-space: nowrap;
      width: 100%;
    }
  }
}
