@import "./constants";

.header {
  height: calc(1550px * #{$wires-ratio});
  margin-top: $navbar-height + $banner-height;
  max-width: 1540px;
  position: relative;
  width: 100vw;

  .wires {
    background-image: url("../images/wires.png");
    background-position: center;
    background-size: cover;
    height: calc(1550px * #{$wires-ratio});
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 1550px;
  }

  .tv {
    background-image: url("../images/tv.png");
    background-position: center;
    background-size: cover;
    display: flex;
    height: calc(850px * #{$tv-ratio});
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    width: 850px;

    .content {
      align-items: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;

      .warning {
        color: $black;
        font-size: 14px;
        margin-top: 15px;
        max-width: 180px;
      }

      .head-date {
        font-weight: 800;
        text-align: left;

        p {
          font-weight: 600;
          margin-bottom: 6px;
        }
      }

      h1 {
        background: $red-gradient;
        background-clip: text;
        font-style: italic;
        margin-right: -8px;
        padding-right: 8px;
        -webkit-text-fill-color: transparent;
      }

      .subtitle {
        margin: 15px 0 35px;
        max-width: 390px;
      }

      .register {
        background: $cyan;
        border-radius: 4px;
        color: white;
        font-weight: 800;
        padding: 7px 14px;
        text-decoration: none;
        transition: background 150ms;

        p {
          transition: transform 150ms;
        }

        &:hover {
          background: #21797c;

          p {
            transform: translate(1.5px, -1px);
          }
        }
      }
    }
  }

  @media only screen and (max-width: 840px) {
    height: calc(1080px * #{$wires-ratio});

    .wires {
      height: calc(1080px * #{$wires-ratio});
      width: 1080px;
    }

    .tv {
      height: calc(620px * #{$tv-ratio});
      top: 15px;
      width: 620px;

      .content {
        .head-date {
          p {
            margin-bottom: 3px;
          }
        }

        .subtitle {
          margin: 10px 0 25px;
          max-width: 370px;
        }
      }
    }
  }

  @media only screen and (max-width: 570px) {
    height: calc(730px * #{$wires-ratio});
    margin-top: $navbar-height-mobile + $banner-height;

    .wires {
      height: calc(730px * #{$wires-ratio});
      width: 730px;
    }

    .tv {
      height: calc(400px * #{$tv-ratio});
      top: 10px;
      width: 400px;

      .content {
        .head-date {
          p {
            margin-bottom: 0;
          }
        }

        .subtitle {
          margin: 5px 0 5px;
          max-width: 250px;
        }

        .register {
          padding: 5px 10px;
        }

        .warning {
          margin-top: 5px;
        }
      }
    }
  }
}
