@import './constants.scss';

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;

  .banner {
    align-items: center;
    background: $banner-bg-color;
    color: $banner-color;
    display: flex;
    font-weight: 600;
    height: $banner-height;
    justify-content: center;
    position: relative;
    text-align: center;
    transition: background 200ms;
    width: 100vw;
    
    p {
      font-size: 13px !important;
    }

    &:hover {
      background: $banner-hover-bg-color;
    }
  }

  .navigation {
    .container {
      align-items: center;
      background: white;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      display: flex;
      height: $navbar-height;
      justify-content: space-between;
      left: 0;
      padding: 0 50px;
      transition: left 200ms;
      transition: margin-left 200ms;
      width: 100vw;

      &.open {
        left: -$hamburger-menu-width;
      }

      .logo {
        height: 50px;
        width: 50px;
      }

      a {
        color: inherit;
        height: 100%;
        text-decoration: none;
      }
    
      #nav-items {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-end;

        button {
          background: none;
          border: 0;
          color: inherit;
          font-family: inherit;
          font-size: inherit;
          height: 100%;
          outline: none;
          text-decoration: none;
        }

        li {
          align-items: center;
          cursor: pointer;
          display: flex;
          flex-flow: column;
          font-size: 16px;
          height: 100%;
          justify-content: center;
          list-style: none;
          padding: 0 20px;

          &:active,
          &:hover,
          &.active {
            text-decoration: underline;
          }
  
          &:first-of-type {
            margin-left: 0;
          }
        }
      }

      #hamburger {
        background: none;
        border: 0;
        cursor: pointer;
        outline: none;
        padding: 5px;
        position: fixed;
        right: 50px;
        z-index: 10;

        .line {
          background: $black;
          border-radius: 10px;
          height: 3px;
          margin: 7px 0;
          transition: all 200ms;
          width: 30px;

          &.open {
            background: white;

            &:nth-child(2) {
              opacity: 0;
              transform: translateX(-15px);
              width: 0;
            } 

            &:nth-child(1) {
              transform: translateY(10px) rotate(-45deg);
            }
        
            &:nth-child(3) {
              transform: translateY(-10px) rotate(-135deg);
            } 
          }
        }
      }

      #hamburger-menu {
        background: #8b2929;
        clip: rect(0, $hamburger-menu-width, 100vh, $hamburger-menu-width);
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        transition: clip 200ms;
        width: $hamburger-menu-width;
    
        &.open {
          clip: rect(0, $hamburger-menu-width, 100vh, 0);
        }

        &.closed {
          opacity: 0;
        }

        #nav-items {
          align-items: flex-end;
          color: white;
          flex-flow: column;
          height: 200px;
          margin-top: 100px;
          padding: 0 30px;
          position: relative;

          li {
            height: calc(200px / 4);
          }

          .line {
            background: white;
          }
        }
      }
      @media only screen and (max-width: 570px) {
        height: $navbar-height-mobile;

        .logo {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}
