@import './constants';

.sponsors {
  p { 
    a {
      color: $cyan;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .container {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    margin-top: 20px;

    img {
      max-width: 260px;
      width: 100%;
    }
  }

  @media only screen and (max-width: 570px) {
    .container {
      grid-template-columns: auto auto;
    }
  }
}
